h3{
    font-size: 30px;
}
u{
    font-size: 25px;
}
div{
    font-size: 22px;
}
span{
    color: rgb(58, 186, 8);
}
p{
    width: 300px;
    height: 200px;
    background-color: rgb(142, 127, 255);
    color: rgb(225, 10, 164);
    font-size: 20px;
    margin: auto;
}