u{
    font-size: 22px;
}
.detail{
    font-size: 20px;
}
.detail h4{
    color: rgb(0, 255, 60);
    text-transform: uppercase;
}
.detail span{
    color: rgb(142, 13, 73);
    font-style: italic;
    font-weight: 800;
}
.detail pre{
    background-color: rgb(183, 235, 135);
}
